@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');

    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {}

.wrap .header {
    position: relative;





}

.wrap .header .inner {
    width: 1280px;
    height: 71px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    /* background-color: darkgrey; */
    color: #fff;
    letter-spacing: -1px;
    position: fixed;
    top: 0;
    left: 15%;
    z-index: 99;

}

.wrap .header .inner .gnb {
    margin-top: 15px;
    display: flex;
    gap: 12px;
    justify-items: space-between;
    align-items: center;
    height: 100%;

    margin: 12px;

}


.wrap .header .inner .gnb>li {
    position: relative;

}

.wrap .header .inner .gnb>li:hover {
    color: rgb(192, 192, 252);

}

.wrap .header .inner .gnb>li .depth-01 {
    line-height: 71px;
    display: block;
}


.wrap .header .inner .gnb>li .depth-02 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    white-space: nowrap;
    /* display: none; */
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    color: #000;
    padding: 0 30px;
    display: none;


}

.wrap .header .inner .gnb>li:hover .depth-02 {

    position: absolute;
    top: 71px;
    left: 222%;
    display: block;
    opacity: 1;
    visibility: visible;


}

.wrap .header .inner .gnb>li .depth-02 li {
    padding: 8px 16px;
    display: block;
}

.wrap .header .inner .gnb>li:hover .depth-02 li {
    color: #000;

}


.wrap .header .inner .gnb>li .depth-02 li:hover {
    color: blue;

}


.wrap .header .inner .gnb>li .depth-02 li:hover a {
    color: rgb(0, 64, 255);
}






.main_logo {}

.main_logo .logo {
    position: absolute;
    top: 0;
    left: 55%;
    transform: translate(-55%, 0);
    margin-top: 15px;

}

.main_logo .logo a {}

.main_logo .logo img {
    height: 40px;
}

.nav {}

.nav .util {
    display: flex;
    margin: 12px;
    letter-spacing: 12px;



}

.nav .util .util_image a {}

.nav .util .util_image img {
    color: black;

}

.main {

    margin: 0 auto;
}



.main .visual-swiper {
    height: 100%;

}

.main .visual-swiper .image {}

.main .visual-swiper .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item_wrap .title {}



.main .item_wrap .title .text {
    width: 1316px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;


}

.main .title .text h1 {
    font-family: 'Pretendard-LIght';
    font-size: 45px;
    margin-top: 64px;

}

.main .title .text p {

    font-family: 'Pretendard-LIght';
    font-size: 20px;
    margin-top: 8px;

}

.main_btn {


    margin-top: 40px;

    color: #000;
    width: 208px;
    height: 52px;
}


.main_btn:hover {
    color: blue;
}


.main_btn span {

    font-size: 16px;
    border-radius: 10px;
    border: 1px solid#333;
    letter-spacing: -2px;
    padding: 10px;
    background-color: #D9D9D9;
}

.section {
    text-align: center;
    margin-top: 120px;

}

.section .sub_title {}

.section .sub_title p {
    font-family: 'Pretendard-bold';
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 32px;
    letter-spacing: -1px;


}

.section .sub_title span {
    font-size: 16px;
    letter-spacing: -1px;

}

.section-01 {

    margin-top: 120px;
    align-content: center;



}

.section-01 .image {



    width: 1200px;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    justify-content: space-between;
    border-radius: 60px;



}

.section-01 .image .img {

    width: 510px;
    height: 516px;
}

.section-01 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60px;

}



.section-01 .sub_section-01 {}

.section-01 .sub_section-01 .sub_text {
    width: 660px;
    margin-top: 210px;
}




.section-01 .sub_section-01 .sub_text p {
    font-family: 'Pretendard-bold';
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 24px;


}


.section-01 .sub_section-01 .sub_text span {
    font-family: 'Pretendard-light';
    font-size: 16px;
    line-height: 30px;
}

.section-01 .sub_btn {
    width: 130px;
    height: 40px;
    display: flex;

    line-height: 37px;
    margin-top: 30px;
}

.section-02 {

    align-content: center;
    position: relative;
}

.section-02 .container {
    width: 1200px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.section-02 .container .sub_text-02 {
    width: 661px;
    margin-top: 210px;

}


.section-02 .container .sub_text-02 p {
    font-family: 'Pretendard-bold';
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 24px;

}

.section-02 .container .sub_text-02 span {
    font-family: 'Pretendard-light';
    font-size: 16px;
    line-height: 30px;
}

.section-02 .sub_btn-02 {
    width: 130px;
    height: 40px;
    display: flex;
    margin-top: 30px;
    line-height: 37px;

}



.section-02 .image_box {
    width: 510px;
    height: 516px;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;

}

.section-02 .image_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60px;
}

.item {}

.item .content {
    margin-top: 120px;
    text-align: center;
}

.content .item_title p {
    font-family: 'Pretendard-bold';
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 32px;
    letter-spacing: -2px;
}

.item_box {
    width: 1200px;
    margin-top: 120px;

}

.item_box .swiper-slide .image {
    display: flex;
    gap: 22px;
}

.item_box .swiper-slide .image img {
    width: 282px;
    width: 242px;
}

.perview {
    width: 1200px;



}

.perview .perview_text {
    padding:20px;
}

.perview .perview_text .title {
    margin-bottom: 20px;
    


}


.perview .perview_text .title h2{
    font-size: 17px;
  margin-bottom: 4px;
}

.perview .perview_text .title p{
    margin-bottom: 4px;
    background-color: #E9E9E9;
    width: 60px;
    font-size: 12px;
    text-align: center;
}

.perview .perview_text .title strong{
    font-size: 15px;
}

.span {
    font-size: 14px;
    margin-bottom: 20px;
    width: 240px;
    display: flex;

}




